In [1]:
import numpy as np
import pandas as pd
from pandas.api.types import is_string_dtype
from datetime import date
from sqlalchemy import MetaData,Table

from connectdb import getAll
from connectdb_open import getAll as getAllOpen

In [2]:
engine, session, Base=getAll()

In [3]:
meta=MetaData()

In [4]:
table = Table('denseds', meta, autoload_with=engine)

In [5]:
q=session.query(table)

In [6]:
session.close()

In [7]:
df=pd.read_sql(q.statement,engine)

In [8]:
df.describe()

,index,feat1,feat2,feat3,feat4,feat5,feat6,feat7,feat8,feat9,...,feat41,feat42,feat43,feat44,feat45,feat46,feat47,feat48,feat49,feat50
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,...,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,2999.500000,0.009557,0.008813,0.009559,-0.004493,-0.003394,-0.005440,-0.020462,0.000313,-0.005258,...,0.012328,0.004014,0.021309,-0.007278,0.013673,0.007725,0.000355,0.002588,0.014819,0.004234
std,1732.195139,0.998003,0.997702,0.998724,0.990194,0.988893,1.019514,1.012054,0.997900,1.002999,...,1.005685,0.996739,1.000479,1.004455,1.007411,1.002346,1.004812,1.000452,1.003815,1.000848
min,0.000000,-3.404486,-3.765934,-3.521444,-3.218184,-3.710704,-3.901111,-3.728116,-3.701916,-3.362608,...,-3.241381,-3.952099,-4.529968,-3.632441,-3.603939,-3.995778,-3.787986,-3.492250,-3.704781,-3.421550
25%,1499.750000,-0.669677,-0.654649,-0.654527,-0.673040,-0.674063,-0.682295,-0.703887,-0.672151,-0.685198,...,-0.668328,-0.673514,-0.661835,-0.679401,-0.647034,-0.651772,-0.674002,-0.695140,-0.670730,-0.666191
50%,2999.500000,0.032506,0.017392,-0.003949,-0.006327,-0.003487,-0.001269,-0.022670,0.007081,-0.033644,...,0.006752,0.007031,0.029693,-0.007656,0.025309,0.011048,0.008918,0.000932,0.011556,-0.001648
75%,4499.250000,0.692665,0.688308,0.712159,0.653531,0.663408,0.685870,0.659592,0.678789,0.676091,...,0.696100,0.671903,0.709141,0.681023,0.697710,0.682639,0.675931,0.690104,0.696506,0.672573
max,5999.000000,4.373710,3.263608,3.125489,3.546964,3.550711,3.625627,3.276885,3.908958,3.624836,...,3.790849,4.323928,3.689196,4.090396,4.307880,3.536952,3.418161,3.389120,3.647848,3.954176