In [ ]:
import pandas as pd
from sqlalchemy import Table, MetaData,Inspect
from sqlalchemy.orm import load_only
from sklearn.linear_model import ElasticNetCV

from lr_pb2 import LrResponse
from lr_pb2_grpc import LrServicer
from connectdb import getAll
from connectdb_open import getAll as getAllOpen

In [2]:
engine, session, Base=getAll()

In [5]:
engine.table_names()

<ipython-input-5-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['denseds', 'some1']

In [3]:
 meta=MetaData()

In [4]:
data=Table('denseds', meta, autoload_with=engine)

In [7]:
df=pd.read_sql(q.statement,engine)

In [24]:
data.columns['feat4']

Column('feat4', DOUBLE(asdecimal=True), table=<denseds>)

In [28]:
 q=session.query(data.columns['feat2'],data.columns['feat4'])

In [29]:
session.close()
df=pd.read_sql(q.statement,engine)

In [21]:
data.columns['feat2']

Column('feat2', DOUBLE(asdecimal=True), table=<denseds>)

In [30]:
df

         feat2     feat4
0    -1.099041 -1.325430
1    -0.821221  0.761627
2     0.457780  0.733800
3    -1.332120  0.625467
4    -0.180233 -0.022459
...        ...       ...
5995 -0.643542  1.212042
5996 -0.086880 -0.537014
5997 -1.151454  1.168552
5998 -1.936362 -0.474332
5999  0.651170 -0.352962

[6000 rows x 2 columns]